<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="../../assets/favicon.jpg">
    <title>Evaluare națională</title>
    <%- include('style/light') %>
</head>

<body>
    <%- include('func/page') %>
    <%- include('fragment/en-2025-01') %>
</body>

</html>