<div class="image-container">
    <img src="../../assets/2025-01/01.webp" alt="Imagine 1" draggable="false">
    <img src="../../assets/2025-01/02.webp" alt="Imagine 2" draggable="false">
    <img src="../../assets/2025-01/03.webp" alt="Imagine 3" draggable="false">
    <img src="../../assets/2025-01/04.webp" alt="Imagine 4" draggable="false">
    <img src="../../assets/2025-01/05.webp" alt="Imagine 5" draggable="false">
    <img src="../../assets/2025-01/06.webp" alt="Imagine 6" draggable="false">
    <img src="../../assets/2025-01/07.webp" alt="Imagine 7" draggable="false">
    <img src="../../assets/2025-01/08.webp" alt="Imagine 8" draggable="false">
    <img src="../../assets/2025-01/09.webp" alt="Imagine 9" draggable="false">
    <img src="../../assets/2025-01/10.webp" alt="Imagine 10" draggable="false">
</div>